/* VIDEO BACKGROUND */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}

/* OVERLAY */
.video-overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(11, 28, 51, 0.85),
    rgba(10, 21, 40, 0.95)
  );
  z-index: -2;
}

/* PAGE */
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WRAPPER GLASS */
.login-wrapper {
  display: flex;
  max-width: 1100px;
  width: 95%;
  background: rgba(255,255,255,0.08);
  border-radius: 30px;
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.15);
  overflow: hidden;
  z-index: 2;
}

/* IMAGE */
.login-image {
  flex: 1;
  background: linear-gradient(135deg, #08162c, #0d2345);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  width: 450%;
  max-width: 650px;
}

/* CONTENT */
.login-content {
  flex: 1;
  padding: 3rem;
  color: white;
}

/* CARD */
.login-card h2 {
  font-size: 5rem;
}

.subtitle {
  opacity: 0.85;
  margin-bottom: 2rem;
}

/* PROFILES */
.profile-card {
  display: flex;
  gap: 1.9rem;
  padding: 0.9rem;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  cursor: pointer;
  transition: 0.3s;
}
.profile-card img {
  width: 150px; /* Réduire la taille */
  height: 90px; /* Garder la hauteur égale */
  object-fit: contain; /* Garder les proportions */
  border-radius: 20px; /* Coins arrondis */
  background: rgba(255, 255, 255, 0.1); /* Fond léger */
  padding: 8px; /* Espace autour de l'image */
  transition: all 0.3s ease;
}

/* Effet au survol */
.profile-card:hover img {
  transform: scale(1.1); /* Léger zoom */
  background: rgba(181, 195, 215, 0); /* Fond bleu au survol */
}
.profile-card:hover {
  transform: translateY(-4px);
  border: 1px solid #6aa9ff;
}

/* FORM */
input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.12);
  color: white;
}

input::placeholder {
  color: #cfd8ff;
}

button {
  width: 100%;
  background: linear-gradient(135deg, #6aa9ff, #4d8dff);
  border: none;
  padding: 0.9rem;
  border-radius: 12px;
  font-weight: 600;
  color: white;
}

/* BADGE */
.badge {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.3rem 1em;
   background: #6aa9ff;
  border-radius: 20px;
}

/* ERROR */
.error-box {
  background: rgba(255, 80, 80, 0.15);
  padding: 0.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* BACK */
.back-btn {
  background: none;
  border: none;
  color: #6aa9ff;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-image {
    display: none;
  }
}
